* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Lato', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

/* header */

.header {
    width: 100%;
    max-width: 1110px;
    min-height: 140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
}
.header__nav {
    width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 75px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.header__button {
    width: 100px;
    height: 40px;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffff;
    margin-right: 2px;
    cursor: pointer;
}
.header__button:hover {
    background-color: white;
    color: #ED4C5C;
}
.header__button:active {
    -webkit-box-shadow: inset 4px 4px 4px rgba(237, 76, 92, 0.15), inset -4px -4px 4px rgba(237, 76, 92, 0.15);
            box-shadow: inset 4px 4px 4px rgba(237, 76, 92, 0.15), inset -4px -4px 4px rgba(237, 76, 92, 0.15);
}
.nav__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
}
.logo__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
}
.logo__icon {
    padding-right: 14px;
}

/* main  */

.main {
    width: 100%;
    height: 100vh;
    /* min-height: 782px; */
    margin-top: -140px; 
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url(img/main_bg.jpg); 
    background-image: -o-linear-gradient(left, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(img/main_bg.jpg); 
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(img/main_bg.jpg);
    background-size: cover;
}
.main__heading {
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    color: white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: 118px;
}
.main__text {
    max-width: 492px;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: white;
    text-align: center;
}
.main__text_next {
    display: block;
}
.main__button {
    width: 160px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ED4C5C;
    margin-bottom: 187px;
    margin-top: 20px;
    cursor: pointer;
}
.main__button:hover {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.main__button:active {
    color: #ed4c5ca4;
}

/* Wrappers  */

.wrapper {
    max-width: 1110px;
    margin: 0 auto;    
}
.wrapper_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 642px;
    margin-top: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.wrapper_features {
    padding-bottom: 230px;
}
.wrapper_saving {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 95px;
}
.wrapper_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1114px;    
    margin-bottom: 124px;
    padding-top: 106px;
}
.wrapper_contacts-info {
    max-width: 434px;
    width: 100%;
    padding-left: 14px;
    padding-top: 10px;
}
.wrapper_footer {
    padding-top: 85px;
}

/* software */

.software {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 98px;
    padding-top: 93px;
}
.software__info {
    max-width: 445px;
    width: 100%;
    margin-right: 124px;
}
.software__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    padding-top: 46px;
    padding-bottom: 44px;
}
.software__text {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
.software__link {
    display: block;
    color: #ED4C5C;
    text-align: justify;
    cursor: pointer;
    text-decoration: none;
    padding-top: 23px;
}
.software__link:hover {
    text-decoration: underline;
}
.software__img {
    margin-right: 95px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: block;
    max-width: 100%;
}

/* features */

.features {
    background-color: #FAFAFA;
}
.features__heading {
    padding-top: 62px;
    padding-bottom: 76px;
}
.features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.features__item {
    width: 350px;
    height: 250px;  
    border-radius: 8px;
    position: relative;
}
.features__item_first {
    background-image: url(img/feature_1.jpg);
    background-repeat: no-repeat;
}
.features__item_second {
    background-image: url(img/feature_2.jpg);
    background-repeat: no-repeat;

}
.features__item_fird {
    background-image: url(img/feature_3.jpg);
    background-repeat: no-repeat;

}
.feature__info {
    text-align: center;
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 156px;
    left: 30px;
}
.feature__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    padding: 0 30px;
    padding-top: 34px;
    padding-bottom: 17px;
}
.feature__text {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    padding: 0 40px;
}
.feature__link {
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
    text-decoration: none;
    padding-top: 26px;
}
.feature__link:hover {
    text-decoration: underline;
}

/* technology */


.technology {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 132px;
}
.technology__heading {
    padding-top: 63px;
    padding-bottom: 136px;
}
.technology__list {
    max-width: 1140px;
    list-style: none;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.tech__item {
    position: relative;
    text-align: center;
    width: 255px;
    padding: 0 15px;    
}
.tech__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    padding-top: 5px;
}
.tech__text {
    width: 191px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    padding-left: 32px;
    padding-top: 10px;
}
.tech__number {
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
    position: absolute;
    top: -74px;
    left: 85px;
}


/* saving */

.saving {
    background-color: #ED4C5C;
}
.saving__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 18px;
    display: block;
    max-width: 100%;
}
.saving__info {
    padding-top: 32px;
    max-width: 445px;
    width: 100%;
    padding-right: 125px;
}
.saving__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;    
}
.saving__text {
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    padding: 42px 0;
}
.saving__icons {
    width: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


/* contacts */
.contacts__heading {
    text-align: start;
    padding-bottom: 52px;
}
.contacts__text {
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
} 
.contacts__form {
    max-width: 540px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
}
.form__input {
    height: 60px;
    border: 1px solid #333333;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
    padding-left: 31px;
    margin: 12px 0;
}
.form__fio {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.form__input_shot {
    width: 47%;
}
.form__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 19px;  
    color: rgba(19, 39, 67, 0.5);
}
.form__input::-moz-placeholder {
    font-size: 16px;
    line-height: 19px;  
    color: rgba(19, 39, 67, 0.5);
}
.form__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 19px;  
    color: rgba(19, 39, 67, 0.5);
}
.form__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 19px;  
    color: rgba(19, 39, 67, 0.5);
}
.form__input::placeholder {
    font-size: 16px;
    line-height: 19px;  
    color: rgba(19, 39, 67, 0.5);
}
.form__input:invalid:not(:-moz-placeholder-shown) {
    border-color: red;}
.form__input:invalid:not(:-ms-input-placeholder) {
    border-color: red;}
.form__input:invalid:not(:placeholder-shown) {
    border-color: red;}
.form__input:not(:-moz-placeholder-shown) {
    border-color: green;
}
.form__input:not(:-ms-input-placeholder) {
    border-color: green;
}
.form__input:not(:placeholder-shown) {
    border-color: green;
}
.form__button {
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
}
.form__button:hover {
    background-color: transparent;
    color: #ED4C5C;
    border: 1px solid rgb(237, 76, 92);
}
.form__button:active {
    -webkit-box-shadow: inset 4px 4px 4px rgba(237, 76, 92, 0.15), inset -4px -4px 4px rgba(237, 76, 92, 0.15);
            box-shadow: inset 4px 4px 4px rgba(237, 76, 92, 0.15), inset -4px -4px 4px rgba(237, 76, 92, 0.15);
}

/* footer */

.footer {
    background-color: #FAFAFA;
}
.footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer__column {
    max-width: 254px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
}
.footer__column:first-child {
    padding-left: 0px;
}
.footer__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    padding-bottom: 30px;
}
.footer__text {
    width: 200px;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.footer__text_contact {
    padding-bottom: 10px;
    text-decoration: none;
}
.footer__list {
    list-style: none;
}
.footer__list-item {
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}
.footer__bottom {
    padding-top: 100px;
}
.footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 66px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 6px;
    padding-left: 3px;
}
@media (max-width: 1024px) {
    .header {
        width: 96%;
    }
    .software__img {
        margin-right: 50px;
    }
    .software__info {
        margin-right: 30px;
    }
    .saving__info {
        padding-right: 30px;
        padding-left: 5%;
    }
    .features__list {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .features__item_fird {
        margin-bottom: 105px;
        margin-top: 130px;
    }
    .technology__list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .tech__item {
        padding-bottom: 60px;
    }
    .technology__heading {
        padding-bottom: 90px;
    }
    .contacts__form {
        padding-right: 14px;
    }
    .footer__columns {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media (max-width: 768px) {
    .header__nav {
        width: 75%;
        padding: 0 40px;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        margin: 0 auto;
    }
    .nav__link {
        padding: 0 5px;
        padding-bottom: 15px;
    }
    .logo__icon {
        padding-right: 6px;
    }
    .software {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .software__info {
        padding: 50px 15px;
        margin-right: 0;
    }
    .software__img {
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .features__item {
        margin-bottom: 125px;
    }
    .features__item_fird {
        margin: 0 auto;
        margin-bottom: 125px;
    }
    .technology__list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .technology__heading {
        padding-bottom: 100px;
    }
    .tech__item {
        padding-bottom: 90px;
    }
    .wrapper_saving {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .saving__info {
        padding: 50px 15px;
    }
    .saving__img {
        margin-bottom: 50px;
    }
    .wrapper_contacts {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .wrapper_contacts-info {
        padding-top: 63px;
    }
    .contacts__form {
        padding-top: 50px;
    }
    .footer__columns {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer__column {
        padding-left: 10px;
    }
    .footer__bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 0;
    }
}
@media (max-width: 425px) {
    .header {
        padding-top: 20px;
    }
    .header__logo {
        -ms-flex-item-align: end;
            align-self: flex-end;
    }
    .header__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .nav__link {
        padding: 0 20%;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .main {
        margin-top: -266px;
    }
    .wrapper_main {
        margin-top: 270px;
    }
    .main__heading {
        font-size: 45px;
        line-height: 70px;
    }
    .main__text {
        font-size: 21px;
        max-width: 270px;
    }
    .software__heading, .saving__heading {
        font-size: 24px;
        line-height: 130%;
    }
    .software__img, .saving__img {
        max-width: 90%;
    }
    .features__list {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .wrapper_features {
        padding-bottom: 100px;
    }
    .wrapper_contacts-info {
        padding: 0 15px;
    }
    .technology {
        padding-bottom: 100px;
    }
    .contacts__form {
        padding: 0 15px;
    }    
    .wrapper_footer {
        padding-top: 30px;
    }
    .footer__column {
        padding-top: 50px;
    }
}
@media (max-width: 320px) {
    .nav__link {
        padding: 5px 0px;
    }
    .main__heading {
        font-size: 30px;
        line-height: 60px;
    }
    .feature__info {
        left: 14px;
    }
 }